/* #____ is for fields based from id="___" */
/* .____ is for class="____" */


/*defaults to a dark mode with green text to simulate old temrinals? */

body {
    background-color: #000;
    color: #4Af626;
    overflow-x: hidden;
}

#page_container{
    border: none;
    margin: 0;
    padding: 0;
}


#top_bar {
    position:fixed;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
    border-bottom: 1px solid gray;
    box-shadow: 1px 0px 2px #888;
    min-width: 2rem;

    padding: 0.5rem;

    z-index: 1;

    background-color: #000; 

    /* display: flex;  
This set the bar to use Flex CSS scheem or something... 
look up later
    justify-content: space-between;
    white-space: nowrap; */

}

#game_container {
    position:absolute;
    top: 30px;
    padding: 0.5rem;
}

#bottom_menu {
    position:fixed;
    bottom: 0;
    right: 0;
    color:#fff;
    display: block;

}



/* Stuff below here is from old files */
/*Test formatting for buttons */
.btn {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    cursor: default;
    width: 170px;
    text-align: center;
    margin-bottom:10px;
}
.btn:hover {
    cursor: pointer;
}
.btn:active {
    color: #FFF;
}

button {
    border: 10px solid red;
    width: 20 px;
}


button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #212529;
  background: #212529;
}
button:hover {
  background: #fff;
  color: #212529
}
button:active {
    background: red;
}

#goUpBtn {
  min-width: 130px;
  height: 40px;
  color: #175b5b;
  background: rgb(39, 188, 16);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #212529;
}
dbutton:hover {
  background: #d82323;
  color: #212529
}
dbutton:active {
    background: rgb(50, 15, 224);
}